*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
font-family:'Kumbh Sans', sans-serif;
font-size: 18px;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-color:  hsl(185, 75%, 39%);
background-image: url('./images/bg-pattern-top.png');
background-image: url('./images/bg-pattern-bottom.png');
background-repeat:unset;
}

#photo{
  width: 30%;
  height: 30%;
  border-radius:50%;
  border: 5px solid white;
}
main{
  border-radius: 15px;
  width: 350px;
  height: 400px;
  background-image: url(./images/vector.png);
  background-repeat:repeat-x;
  background-color: white;
  
}
.personal-info{
  display: flex;
  flex-direction: column;
 margin-top: 90px;
 align-items: center;
 justify-content: center;
}
#name{
  font-weight: 700;
  color:hsl(229, 23%, 23%) ;
}
#age,#city{
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

#ranking{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-top: 1px solid hsl(0, 0%, 59%);
  padding-top: 15px;
}

#numbers{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-weight: 700;
  color: hsl(229, 23%, 23%) ;

}
#category{
  margin-top: 2px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  color:hsl(0, 0%, 59%) ;
}

#category span:nth-child(2){
  margin-right: 15px;
  
}

@media screen and (max-width: 375px){
  body{
    height: 568;
    width: 375px;
    
  }
 main{
   margin: 284 auto;
 }
  
}